@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700');

/* Reset Styles */
*, *::after, *::before { margin: 0; padding: 0; border: 0; line-height: inherit; color: inherit; text-transform: inherit; font-weight: inherit; font-style: inherit; font-size: inherit; font-family: inherit; background-color: transparent; outline: none; -webkit-tap-highlight-color: rgba(0,0,0,0); -moz-box-sizing: border-box; box-sizing: border-box; -webkit-overflow-scrolling: touch;}
ol, ul { list-style: none; list-style-position: inside; }
table { border-collapse: separate; border-spacing: 0; }
caption, th, td { text-align: left; font-weight: inherit;}
blockquote::before, blockquote::after, q::before, q::after { content: ""; }
blockquote, q { quotes: "" ""; }
button { cursor: pointer; }
button:focus, button:active { outline:0; }
button::-moz-focus-inner, input[type="reset"]::-moz-focus-inner, input[type="button"]::-moz-focus-inner, input[type="submit"]::-moz-focus-inner { padding:0; border: 0; margin: 0; line-height: normal; }
header, footer, nav, article, section, main { display: block; }
:-ms-input-placeholder { color: #777; opacity: 1; font-weight:600;}
::-webkit-input-placeholder { color: #777; opacity: 1; font-weight:600;}
::-moz-placeholder { color: #777; opacity: 1; font-weight:600;}
select.__placeholder { color: #777; opacity: 1; }
input, textarea, select { background: none; margin: 0; padding: 0; display: block; width: 100%; line-height: normal; -moz-user-select: text; -webkit-user-select: text;  -ms-user-select: text; -webkit-appearance: none; -moz-appearance: none; appearance: none;}
input[type="number"]{-webkit-appearance: scrollbar;}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {opacity: 1;}
select::-ms-expand { display: none; }


/*-------------------------
	Core Elements/Tags
---------------------------*/
html { font-size: 16px;}
body {font-size: 100%; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; background-color: #fff; font-family: 'Source Sans Pro', sans-serif; color:#333; overflow-y: scroll;}

a {font-weight: 600; text-decoration: none; transition: all 0.5s;}
p {line-height: 1.4;}

.heading {font-weight:700; display: block;}
.heading--1, .blog__article-content h1 {font-size: 1.5rem;}
.heading--2, .blog__article-content h2 {font-size: 1.25rem; margin-bottom: 10px; font-weight: 700;}
.heading--3, .blog__article-content h3 {font-size: 1.125rem; line-height: 1; margin-bottom: 4px;}
.heading--4 {font-size: 0.875rem; color: #999; text-transform: uppercase; font-weight: 600;}

.btn {border:1px solid transparent; transition:all 0.5s; border-radius:4px; padding:0 30px; min-height: 44px; line-height: 44px; width:100%; display:block; font-size: 1rem; background-color:#ffb74d; color:#fff;}
.btn:hover {background-color:#ffa726;}
.btn--neutral {color:#ffb74d; border:2px solid #ffb74d; background-color: transparent;}
.btn--neutral:hover {background-color:#ffb74d; color:#fff; }
.btn--auto {width:auto; display:inline-block;}

.link {color:#ffb74d;}
.link:hover {color:#ffa726;}

@media only screen and (min-width : 480px) {}
@media only screen and (min-width : 768px) {
	.heading--1 {font-size:1.875rem;}
}
@media only screen and (min-width : 992px) {}
@media only screen and (min-width : 1200px) {
	.heading--1 {font-size:2rem;}
}


/*-------------------------
	Section
---------------------------*/
.main {padding:40px 0; min-height: calc(100vh - 229px);}
.main:after {content:''; clear:both; display:block;}
.main__section {margin-bottom: 15px;}
.main__section p {margin-bottom: 15px;}
.main__section-side {margin-top:30px;}


@media only screen and (min-width : 480px) {
	.main {padding:50px 0;}
}
@media only screen and (min-width : 768px) {
}
@media only screen and (min-width : 992px) {
	.main {padding: 60px 0 40px;}
	.main__section {width: 60%; display: inline-block; margin-right: -5px; vertical-align: top;}
	.main__section-side {width: 40%; padding-left: 50px; display: inline-block; margin-right: -5px; vertical-align: top; margin-top: 0;}
	.main__section-side-img {float:right;}
}
@media only screen and (min-width : 1200px) {}


/*-------------------------
	Container
---------------------------*/
.container {padding:0 20px; margin:0 auto;}

@media only screen and (min-width : 480px) {
	.container {padding:0 40px;}
}
@media only screen and (min-width : 768px) {
	.container {width:77%; max-width: 1200px; padding:0;}
}
@media only screen and (min-width : 992px) {}
@media only screen and (min-width : 1200px) {
	.container {width:80%;}

}


/*-------------------------
	Header
---------------------------*/
.header {color: #fff; padding:10px 0 0; text-align: center; background-color: #ef9a9a; background: -webkit-linear-gradient(top, #ffab91 0%, #ef9a9a 100%);}
.header__logo {width:62px; display:block; margin:auto; position: relative;}
.header__logo-image {width: 100%; transition: all 0.5s;}
.header__logo-image--hover {position: absolute; left: 0; top: 0; opacity: 0;}
.header__logo:hover .header__logo-image {opacity: 0;}
.header__logo:hover .header__logo-image--hover {opacity: 1;}

.header__links {display: block; order:1;}
.header__link {display: inline-block; padding:15px 20px 25px; font-size: 1rem;}
.header__link a {position: relative;}
.header__link a:before { background: #ffcc80; position: absolute; width: 100%; height: 3px; content: ''; left: 0; bottom: -7px; border-radius: 11px; visibility: hidden; -webkit-transform: scaleX(0); transform: scaleX(0); -webkit-transition: all 0.3s ease-in-out 0s; transition: all 0.3s ease-in-out 0s;}
.header__link a:hover:before, .header__link.is-active a:before { visibility: visible; -webkit-transform: scaleX(1); transform: scaleX(1);} 
.header__link.is-active a:before {background: #ffcc80;}
.header__intro {display:none; width:100%; max-width:800px; text-align: center; margin:auto; padding:20px 20px 0;}
.header__intro-mobile {display:block; margin-top:40px; text-align: center;}
.header__intro-mobile .heading--1 { font-size: 1.375rem;}
.header__title {display:none; width:100%; padding: 20px; text-align: left; align-items: center; flex-direction: column; justify-content: flex-start;}
.header__title.header__title--mobile {display:block; padding:0 0 30px; text-align: center;}
.header__subtitle {font-size: 1.063rem; margin-top: 6px; color: #999;}

.header .container {display:flex; flex-flow: column nowrap; padding:0;}


@media only screen and (min-width : 480px) {
	.header {padding:20px 0 30px; background-color: #ef9a9a; background: -webkit-linear-gradient(top, #ef9a9a 0%,#ffab91 100%); background:linear-gradient(to right bottom,#ef9a9a,#ef9a9a 40%,#fead88 70%,#ffb981 100%);}
	.header .container {padding:0 40px; flex-flow: row wrap; justify-content: space-between;}
	.header__logo {display: inline-block; margin:inherit;}
	.header__links {margin:0; display: inline-flex; order:initial; background-color: transparent; width: calc(100% - 100px); align-items: center; justify-content: flex-end;}
	.header__link {padding:10px 15px;}
	.header__link:last-of-type {padding-right: 0px;}
	.header__intro {padding:40px 0 30px; display:block;}
	.header__intro-mobile {display:none !important;}
	.header__title {padding: 50px 0 0;}
}
@media only screen and (min-width : 768px) {
	.header {padding:30px 0;}
	.header .container {padding:0;}
	.header__link {font-size: 1.125rem; padding: 10px 20px;}
	.header__link:last-of-type {padding-right: 0px;}
	.header__intro {padding:60px 0; width: 85%;}
	.header__intro span {display: block;}
	.header__title {padding:60px 0 0; display: flex; margin-bottom: 30px;}
	.header__title.header__title--mobile {display: none;}
	.header__subtitle {display: block; font-size: 1.125rem; color:#fff;}
}
@media only screen and (min-width : 992px) {
	.header__intro {height:300px; display: flex; justify-content: center; align-items: center;}
}
@media only screen and (min-width : 1200px) {}


/*-------------------------
	Portfolio
---------------------------*/
.portfolio__item {border-radius:4px; overflow:hidden; transition:all 0.5s; position:relative; cursor:pointer; background-color:#fff; width:100%; display: inline-block; margin-bottom:30px; margin-right: -5px; box-shadow: 0 0 0 1px rgba(0,0,0,.05), 0 2px 3px rgba(0,0,0,.05);}
.portfolio__item:hover {transform:translatey(-3px); box-shadow: 0 0 0 1px rgba(0,0,0,.08), 0 4px 6px rgba(0,0,0,.08)}
.portfolio__item a {display: flex; flex-flow: column wrap; cursor: pointer;}
.portfolio__item a:before {transition:all 0.5s; position: absolute; height: 4px; width: 100%; content: ''; top: 0; left: 0; background-color: #ffe082;}
.portfolio__item a:hover:before {background-color: #ffa726;}
.portfolio__item a:hover .portfolio__item-project span {color: #ffa726;}
.portfolio__item-image {display:table; height:0; width: 100%; padding-top: 56.25%; background-color:#ef9a9a; background-position: center center; background-size: cover;}
.portfolio__item-project {flex:1; padding:20px;}
.portfolio__item-project p {margin:6px 0 8px; color: #999; font-weight: normal;}
.portfolio__item-project span {transition:all 0.5s; font-size: 0.875rem; color: #ffb74d; font-weight: 700; display: block; padding-top: 10px;}


@media only screen and (min-width : 480px) {
	.portfolio__item-image {margin-right: 20px; margin-bottom: 0;}
	.portfolio__item-list {display: inline-flex; flex-flow: row wrap;}
	.portfolio__item {width:calc(50% - 15px); margin-bottom: 30px;}
	.portfolio__item:nth-child(even) {margin-left: 30px;}
	.portfolio__item a {flex-flow: column wrap;}

}
@media only screen and (min-width : 768px) {
	.portfolio__item-project {padding:20px 30px;}

}
@media only screen and (min-width : 992px) {
	.portfolio__item {width:calc((100% / 3) - 20px); margin-bottom: 30px;}
	.portfolio__item, .portfolio__item:nth-child(even) {margin-left: 0px; margin-right: 30px;}
	.portfolio__item:nth-child(3n) {margin-right: 0;}

}
@media only screen and (min-width : 1200px) {}


/*-------------------------
	Case Study
---------------------------*/
.case-study {overflow: auto;}
.case-study p {white-space: pre-line; line-height: 1.5;}

.case-study__hero {width: 100%; height: 136px; background-color: #eee; border-bottom: 4px solid #ffe082; background-size: cover !important; background-position: center !important;}

.case-study__about { border-bottom: 1px solid #ddd; padding-bottom: 60px; margin-bottom: 40px;}
.case-study__info {width:100%; text-align: center; display: inline-flex; flex-flow: row wrap; justify-content: center;}
.case-study__info p {display:block; margin:10px 0; color: #777; line-height: 1.6; font-size: 1.063rem;}
.case-study__info-heading {font-size: 1.438rem; margin-bottom: 10px; display: block; width: 100%; font-weight: 700; margin-top:15px; }
.case-study__info-img {width: 100%; height:100%; float: left; margin: 25px 0; display: block; max-width: 1080px;}
.case-study__info-img--half, .case-study__info-img--third {max-width: 540px;}

.case-study__next {border-top: 1px solid #e9e9e9; padding: 40px 0; text-align:center; }
.case-study__next .case-study__info-heading {margin-top:0px;}
.case-study__next-item {margin-top:20px;}
.case-study__info-points {width:100%; text-align: left; max-width: 800px; margin-bottom:30px;}
.case-study__info-points h3 {font-size: 1.25rem; font-weight: 700; margin-top:20px;}

@media only screen and (min-width : 480px) {}
@media only screen and (min-width : 768px) {
	.case-study__hero {height: calc(100vh - 287px); min-height: 300px;}
	.case-study__about {margin-bottom: 60px; padding-bottom: 40px;}
	.case-study__info-img {margin:40px 0 60px;}
	.case-study__info-img--half {width: calc(50% - 20px);}
	.case-study__info-img--half:nth-child(even) {margin-right: 40px;}
	.case-study__info-img--third {width: calc((100% / 3) - 20px); margin-right:30px !important;}
	.case-study__info-img--last {margin-right:0 !important;}
	.case-study__info-heading {font-size: 2rem;}

	.case-study__next {padding: 60px 0 75px;}
	.case-study__next-items {display: flex; justify-content: space-between;}
	.case-study__next-item {margin-top:30px; width:calc(50% - 15px);}
	.case-study__info-points {margin-bottom: 60px;}
}
@media only screen and (min-width : 992px) {
	.case-study__info p {padding:0 calc((100% - 800px) / 2);}
	.case-study__info-points p {padding:0;}
	.case-study__info-points h3 {margin-top: 30px;}
	.case-study__next-items {display: block;}
	.case-study__next-item {display:inline-block; width: 250px; margin:30px 15px 0;}
}
@media only screen and (min-width : 1200px) {}


/*-------------------------
	Blog
---------------------------*/
.blog {}
.blog a:hover {color:#ffa726;}
.blog__article {margin-bottom: 40px;}
.blog__article-time {font-size: 0.875rem; color: #999; text-transform: uppercase; font-weight: 600; margin-bottom: 6px;}
.blog__article-title, .blog__article-title a {font-weight: 600; font-size: 1.688rem; margin-bottom: 15px;}
.blog__article-photo {}
.blog__article-content {}
.blog__article-content p {margin-bottom: 20px; line-height: 1.5;}

.blog--single-post .blog__article {border-bottom: 0;}

.blog__sidebar {margin-top: 30px;}
.blog__sidebar a {line-height: 1.6;}
.blog__sidebar a:hover {color:#ffa726;}
.blog__sidebar .widget {margin-bottom: 30px;}
.blog__sidebar .widget-title {font-size: 0.875rem; color: #999; text-transform: uppercase; font-weight: 600; margin-bottom: 6px;}

/* Blog Nav */
.blog .nav-links:after {content:''; clear:both; display:block;}
.blog .nav-previous {width:auto; float: left;}
.blog .nav-next {width: auto; float:right; text-align: right;}
.blog .page-numbers {margin-right: 10px; position: relative;}

.blog__prev, .blog__next {font-size: 0.875rem; color: #999; text-transform: uppercase; font-weight: 600; margin-bottom: 6px;}
.blog__prev, .blog__prev-link, .blog__next, .blog__next-link {width:100%; display:block;}
.blog__prev-link, .blog__next-link {position: relative;}
.blog__prev-link:before, .blog .prev.page-numbers:after {content:"\e5c4"; font-family:"Material Icons"; position: absolute; left:-22px; top:50%; -webkit-transform: translateY(-50%); transform: translateY(-50%);}
.blog__next-link:after, .blog .next.page-numbers:after {content:"\e5c8"; font-family:"Material Icons"; position: absolute; right:-22px; top:50%; -webkit-transform: translateY(-50%); transform: translateY(-50%);}


@media only screen and (min-width : 480px) {}
@media only screen and (min-width : 768px) {
	.blog {width:75%; float:left; padding-right: 50px;}
	.blog__sidebar {width:25%; float:right; margin-top: 0;}
}
@media only screen and (min-width : 992px) {
	.blog {width:calc(100% - 300px); padding-right: 80px;}
	.blog__sidebar {width:300px;}
}
@media only screen and (min-width : 1200px) {}


/*-------------------------
	About
---------------------------*/
.about .container {display: flex; flex-direction: column;}
.about .main__section {font-size: 1.125rem;}
.about .main__section-side {order:-1; width: 100%; text-align: center; margin-top:0;}
.about .main__section-side-img {width:175px; height: 175px; margin:auto; border-radius: 100%; margin-bottom: 15px;}
.about li {display: block; margin-bottom: 4px;}


@media only screen and (min-width : 480px) {}
@media only screen and (min-width : 768px) {}
@media only screen and (min-width : 992px) {
	.about .container {display: flex; flex-flow: row nowrap;}
	.about .main__section {width:calc(100% - 200px); padding-right: 60px;}
	.about .main__section-side {width:200px; padding:0; order:2;} 
	.about .main__section-side-img {width:200px; height: 200px; border-radius: 4px; margin-bottom: 0;}
}
@media only screen and (min-width : 1200px) {
	.about .main__section {width:calc(100% - 300px); padding-right:80px; display:flex; flex-flow:column; justify-content: center;}
	.about .main__section-side {width:300px;}
	.about .main__section-side-img {width:300px; height: 300px;}
}


/*-------------------------
	Footer
---------------------------*/
.footer {padding: 40px 0; background-color: #fff; text-align: center; border-top:1px solid #e9e9e9;}


@media only screen and (min-width : 480px) {}
@media only screen and (min-width : 768px) {
	.footer {padding: 40px 0;}
}
@media only screen and (min-width : 992px) {}
@media only screen and (min-width : 1200px) {}
